{% extends "general/homepage-user.html" %} 
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin/accounts.css' %}">

<div class="main">
    <a href="{% url 'customeraccounts'%}">Customer Accounts</a>
    <!-- ADMIN TABLE -->
    <a href="/admin/createadmin"><button class="addButton">Add Admin</button></a>
    <h1>Admin Table</h1>
    <table width="100%">
        <thead>
            <td>Name</td>
            <td>Email</td>
            <td>Username</td>
            <td>Staff Role</td>
            <td>Gender</td>
            <td>Contact Number</td>
            <td>Option</td>
        </thead>
        <tbody>
            {% for row in admins %}
            <tr>
                <td>{{row.first_name}} {{row.last_name}}
                <td>{{row.email}}
                <td>{{row.username}}
                <td>{{row.admin.stafftype.stafftype}}
                <td>{{row.admin.gendertype.gendertype}}
                <td>{{row.admin.contact_number}}
                <td><button> Delete </button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- STAFF TABLE -->
    <a href="/admin/createstaff"><button class="addButton">Add Staff</button></a><br>
    <h1>Staff Table</h1>
    <table width="100%">
        <thead>
            <td>Name</td>
            <td>Email</td>
            <td>Username</td>
            <td>Staff Role</td>
            <td>Gender</td>
            <td>Contact Number</td>
            <td>Option</td>
        </thead>
        <tbody>
            {% for row in staffs %}
            <tr>
                <td>{{row.first_name}} {{row.last_name}}
                <td>{{row.email}}
                <td>{{row.username}}
                <td>{{row.staff.stafftype.stafftype}}
                <td>{{row.staff.gendertype.gendertype}}
                <td>{{row.staff.contact_number}}
                <td><button> Delete </button></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
        
    
</div>
{% endblock content %}