<title>  SalOnTheGo | Admin Table </title>

{% extends "general/homepage-user.html" %} 
{% load static %}

{% block content %}
<!-- ACCOUNTS -->
<!-- /adminpanel/templates/accounts.html -->
{% comment %} <link rel="stylesheet" href="{% static 'css/admin/accounts.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/admin/accountsV2.css' %}">
<script src="https://kit.fontawesome.com/978ddb0a33.js" crossorigin="anonymous"></script>
<script src="{% static 'js/sorttable.js' %}"></script>

<div class="main">
    <div class="tables">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert">
                <strong style="color:red">Message:  </strong>{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <br>
        {% endfor %}
        <!-- ADMIN TABLE -->
        <div class="prodtable-container">
            <div class="labels-container">
                <!-- TITLE -->
                <div class="labels1">
                    <h2>Admin Table</h2>
                </div>
                <div class="labels2">
                    <ul>    
                        <!-- <li class="top-labels">Filter</li> -->
                        <li class="top-labels">
                            
                        <div class="search">
                            <form method="GET" action="#">
                                <input type="text" name="q" placeholder="Search...">
                            </form>
                        </div>            
                        </li>
                        {% comment %} <li class="top-labels"><a href="#" class="export-btn">Export Table</a></li> {% endcomment %}
                        <li class="top-labels"><a href="/admin/createadmin"><button class="addButton">+ Add Admin</button></a></li>
                    </ul>
                </div>
            </div>
        
            <table class="products-table sortable">
                <thead class="products-thead">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Staff Role</th>
                        <th>Gender</th>
                        <th>Contact Number</th>
                    </tr>
                </thead>
                <tbody class="products-tbody">
                    {% for row in admins %}
                        <tr>
                            <td>{{row.first_name}}</td> 
                            <td>{{row.last_name}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.username}}</td>
                            <td>{{row.admin.stafftype.stafftype}}</td>
                            <td>{{row.admin.gendertype.gendertype}}</td>
                            <td>{{row.admin.contact_number}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

            <!-- Start Pagination 
			<div class='pagination-container' >
				<nav>
				  <ul class="pagination">
                    <li data-page="prev" >
                        <span> < <span class="sr-only">(current)</span></span>
                    </li>
                    <!- Here the JS Function Will Add the Rows 
                    <li data-page="next" id="prev">
                        <span> > <span class="sr-only">(current)</span></span>
                    </li>
	    		  </ul>
				</nav>
			</div>
            -->
</div>

    <!-- BACK TO TOP BUTTON -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
    <!-- BACK TO TOP SCRIPT -->
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>

{% endblock content %}