<title>  SalOnTheGo | Change Admin Password </title>
{% extends "general/homepage-user.html" %} 
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin/create-account.css' %}">

<div class="main">
    <div class="content-container">
        <div class="header-container">
            <p>Change Password</p>
        </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert">
            <strong style="color:red">Message:  </strong>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <br>
    {% endfor %}
    
    <div class="botton-container">
        <form action="/admin/changepassword/" method="post">
            {% csrf_token %}

            <label class="text-label3">New Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="form-box" type="password" id="newpassword" name="newpassword" placehoder="Password" Required><br><br>

            <label class="text-label3">Confirm password</label>
            <input class="form-box" type="password" id="pass2" name="pass2" placehoder="Confirm Password" Required>

            <button name="submit" class="button1-pass" type="submit">Submit</button>
            <a href="/admin/"><button type="button"  name="cancel" class="button2" type="submit">Cancel</button></a>
            
        </form>
   
</div>
{% endblock content %}