{% extends "general/homepage-user.html" %} 
{% load static %}

{% block content %}
<!-- CREATE-ADMIN -->
<!-- /adminpanel/templates/create-admin.html -->
<link rel="stylesheet" href="{% static 'css/admin/create-account.css' %}">

<div class="main">
    <div class="content-container">
        <div class="header-container">
            <p>Add Admin</p>
         </div>

        <div class="botton-container">
            <form action="/admin/createadmin/" method="post">
                {% csrf_token %}
                <form action="/admin/createadmin/" method="post">
    
                <label class="text-label1">First name</label>
                <input class="form-box" type="text" id="fname" name="fname" placehoder="First name" Required>
                <label class="text-label2">Last name</label>
                <input class="form-box" type="text" id="lname" name="lname" placehoder="Last name" Required><br><br>
    
                <label class="text-label3">Username</label>
                <input class="form-box" type="text" id="username" name="username" placehoder="username" Required><br><br>
    
                <label class="text-label4" >Staff Role</label>
                <select class="form-box" name="stafftype">
                    {% for role in stafftype_rows  %}
                        <option value="{{role.id}}" > {{role.stafftype}} </option>
                    {% endfor %}
                </select>
                <br><br>
    
                <label class="text-label5">Email address</label>
                <input class="form-box" type="text" id="email" name="email" placehoder="Email Address" Required><br><br>
    
                <label class="text-label6">Password</label>
                <input class="form-box" type="password" id="password" name="password" placehoder="Password" Required>
    
                <label class="text-label7">Confirm password</label>
                <input class="form-box" type="password" id="pass2" name="pass2" placehoder="Confirm Password" Required><br><br>
                
                <button name="submit" class="button1" type="submit">Create an account</button>
                <a href="/admin/accounts/"><button type="button"  name="cancel" class="button2" type="submit">Cancel</button></a>
            </form>
            
            
        </div>
        
</div>

{% endblock content %}
        
    
