.time-date-ongoing-container {
    font-family: Montserrat;
    border-radius: 20px;
    text-align: center;
    width: 85%;
    height: 120px;
    vertical-align: middle;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: auto;
    display: flex;
    box-shadow: rgba(115, 124, 132, 0.2) 0px 8px 24px;
  }
  .child {
    width: 80%;
    margin: 0 10px;
    /* inline-block hack */
    font-size: medium;
    text-align: center;
    margin: auto;
  }
  
  .child p{
    margin-bottom: 0px;
    font-size: 15px;
  }
  
  .time-date{
    font-size: 28px !important;
    font-weight: 800;
    color: #001D6E;
  }

.schedule {
    border-radius: 20px;
    background-color: #C4DDFF;
    padding: 1rem;
    margin-top:20px;
    margin-bottom: 20px;
    width: 85%;
    margin-left: 40px;
    display:flex;
    
}

.schedule:hover {
    border-radius: 20px;
    background-color: #accdfb;
    padding: 1rem;
    margin-top:20px;
    margin-bottom: 20px;
    width: 85%;
}

.schedule p{
    margin-bottom: 0px;
}

.info-container-left{
  width: 50%;
}

.info-container-right{
  width: 50%;
}

.info-container{
  width: 100%;
  display:flex;
}

.info-label{
  width: 35%;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 700;
  margin-left: 30px;
}

.green {
  border-radius: 20px;
  background-color: #c5ffc4;
  padding: 1rem;
  margin-top:20px;
  margin-bottom: 20px;
  width: 85%;
  margin-left: 40px;
  display:flex;
  
}

.green:hover {
  border-radius: 20px;
  background-color: #9fda9e;
  padding: 1rem;
  margin-top:20px;
  margin-bottom: 20px;
  width: 85%;
}