html {
   font-family: 'Montseratt',sans-serif;
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: Black;
   text-align: left;
   background-color: #F1F6FF;
}

.go-back{
    margin-top: 40px;
    margin-left: 40px;
}

.form-container{
    width: 55%;
    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 150px;
    border-radius: 10px;
    /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
}

.header-container{
   background-color:#C4DDFF;
   width: 50%;
   height: 6vh;
   padding-top: 11px;
   padding-left: 12px;
   border-radius: 10px;
   margin-top: 30px;
}

.formSection1{
    font-size: 17px;
    font-family: Montserrat;
}

.name-container{
    width: 100%;
    margin-top: 40px;
    display:flex;
}

.small-name-container{
    width: 50%;
}

.name-text{
    font-size: 17px;
    width: 50%;
    font-family: Montserrat;
    color:#163760;
    font-weight: 700;
}

.name-text1{
   font-size: 15px;
   width: 50%;
   font-family: Montserrat;
   font-weight: 500;
   color:#969393;
}


.name-text-box{
    margin-left: 2px;
    border-radius: 10px;
    width: 85%;
    height: 5vh;
    border: 1px solid #CCCCCC;
    outline: none;
    padding-left: 12px;
}

.service-container{
    background-color:#C4DDFF;
    width: 35%;
    height: 6vh;
    padding-top: 11px;
    padding-left: 12px;
    border-radius: 10px;
    margin-top: 30px;
 }

 .add-service{
    display: flex;
    margin-top: 10px;
 }

 .add-row{
    background-color:#001D6E;
    color: white;
    border-radius: 5px;
    height: 4vh;
    padding-top: 8px;
    padding-left: 9px;
    font-size: 12px;  
    margin-top: 37px;  
    margin-left: 25px;  
    width: 24%;
 }

 .add-row h6{
    font-family: Montserrat;
    font-size: 11px;  
 }

 .service-row{
    display:inline-flex;
    width:100%;
 }
.service-input-container{
    width:100%;
   
}

 .service-input{
    border:1px solid #cccccc;
    border-radius: 4px;
    height: 5.5vh;
    width: 90%; 
    padding-left: 7px;
    outline:none;
 }

 .remove-service{
    width: 130%; 
 }

 .remove-service i{
    margin-top: 40px; 
 }

 .buttons{
    height: 5vh;
    width: 15%;
    background-color:#001D6E;
    border:none;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    border-radius: 10px;
    padding-top: 2px;
    margin-left: 520px;
    margin-top: 40px;
    text-align: center;
 }

 .buttons2{
   height: 5vh;
   width: 25%;
   background-color:#001D6E;
   border:none;
   color: white;
   font-family: Montserrat;
   font-size: 14px;
   border-radius: 10px;
   padding-top: 2px;
   margin-left: 450px;
   margin-top: 30px;
}

 .form-select1{
    border-radius: 10px;
    width: 92%;
    height: 5vh;
    border: 1px solid #CCCCCC;
    outline: none;
    padding-left: 12px;
 }

 .two-cols{
   display:flex;
   margin-top: 20px;
 }

 .stylist-container{
   width: 50%;
 }

 .date-container{
   display: flex;
 }

 .date-container h5{
    font-size: 17px;
    font-family: Montserrat;
    color:#163760;
    font-weight: 700;
    margin-right: 40px;
    padding-top: 7px;
 }

 .date-form{
   margin-left: 5px;
   border-radius: 10px;
   width: 32%;
   height: 5vh;
   border: 1px solid #CCCCCC;
   outline: none;
   padding-left: 12px;
}

.time-container{
   display: flex;
 }

 .time-container h5{
    font-size: 17px;
    font-family: Montserrat;
    color:#163760;
    font-weight: 700;
    margin-right: 40px;
    padding-top: 7px;
 }

 .time-form{
   margin-left: 5px;
   border-radius: 10px;
   width: 32%;
   height: 5vh;
   border: 1px solid #CCCCCC;
   outline: none;
   padding-left: 12px;
}

.whole-container{
   width: 70%;
   border: 1px solid #cccccc;
   margin:auto;
   margin-top: 40px;
   border-radius: 15px;
}

.whole-container1{
   width: 85%;
   border: 1px solid #cccccc;
   margin:auto;
   margin-top: 40px;
   border-radius: 15px;
}

.box-container{
   width: 100%;
   display: flex;
}

.month-box{
   width:25%;
   height: 30vh;
}

.month-box-container{
   width: 75%;
   height: 12vh;
   margin: auto;
   margin-top: 30px;
   
}

.month{
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border: 2px solid #cccccc;
   background-color: #001D6E;
   text-align:center;
   padding-top:10px;
   height: 5vh;
   color:white;
}

.box{
   border: 2px solid #cccccc;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   text-align:center;
   padding-top:7px;
}


.information-container{
   width: 75%;
   height: 30vh;
   padding-top: 30px;
}

.button-container{
   width: 70%;
   height: 12vh;
   display:flex;
   margin:auto;
}

.info-container{
   display: flex;
}

.info-container h1{
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px;
   margin-left: 40px;
   margin-right: 200px;
}

.info-container h2{
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px;
   margin-left: 40px;
   margin-right: 187px;
}

.info-container h3{
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px;
   margin-left: 40px;
   margin-right: 142px;
}

.info-container h4{
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px;
   margin-left: 40px;
   margin-right: 157px; 
}

.info-container h5{
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px;
   margin-left: 40px;
   margin-right: 171.5px; 
}

.info-container p{
   font-family: Montserrat;
   font-weight: 500;
   font-size: 17px;
}
.button-half{
   width: 50%;
   margin:auto;
   
}
.buttons3{  
   height: 6vh;
   width: 90%;
   background-color:#001D6E;
   border:none;
   color: white;
   font-family: Montserrat;
   font-size: 17px;
   border-radius: 10px;
}

.date-time-container{
   display: flex;
   width:100%;
   margin-top: 40px;
}

.date-container1{
   width: 50%;
   display:inline-flex;
}

.date-container1 h6{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  padding-top: 7px;
}

.date-container1 p{
   font-family: Montserrat;
   font-weight: 500;
   font-size: 17px;
   padding-top: 6px;
   margin-left: 150px;
 }

.time-container1{
   width: 50%;
   display:inline-flex;
}

.time-container1 h6{
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px;
   padding-top: 7px;
 }
 
 .time-container1 p{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 17px;
    padding-top: 6px;
    margin-left: 150px;
  }


.job-name-container{
   width: 100%;
   display:inline-flex;
}

.name-container1{
   width: 50%;
   display:inline-flex;
   margin-bottom: 50px;
}

.name-container1 h6{
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px;
   padding-top: 7px;
 }
 
 .name-container1 p{
   font-family: Montserrat;
   font-weight: 500;
   font-size: 17px;
   padding-top: 6px;
   margin-left: 142px;
}


.service-price-containers1{
   width: 100%;
   margin-top: 10px;
   display:flex;
   margin-bottom: 30px;
}

.service-containers1{
   width: 50%;
}

.service-containers1 li{
   margin-left: 25px;
}


.service-containers1 h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px;
}

.service-containers1 h1{
   width: 100%;
   font-size: 16px; 
   margin-top: 20px; 
}

.price-containers1{
   width: 30%;
}

.price-containers1 h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px;  
}

.product-used-container{
   width: 100%;
}

.product-used-container{
   width: 100%;
   margin-bottom: 40px;
}

.product-used-label h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px;  
}


.primary-list-container{
   width: 100%;
   display:flex;
   margin-bottom: 40px;
}

.primary-list-label{
   width: 48%;
}

.primary-list-label h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px; 
   padding-top:12px;
}

.primary-list-input{
   width:50%;
}

.primary-list-input-form{
   width: 90%;
   height: 6vh;
   border-radius: 10px;
   border: 1px solid #cccccc;
   padding-left: 10px;
   outline: none;
}

.privilege-card-container{
   width: 100%;
   display:flex;
   margin-bottom: 40px;
}

.privilege-card-label{
   width: 48%;
}

.privilege-card-label h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px; 
   padding-top:12px;
}

.privilege-card-input{
   width:50%;
}

.privilege-card-input-form{
   width: 90%;
   height: 6vh;
   border-radius: 10px;
   border: 1px solid #cccccc;
   padding-left: 10px;
   outline: none;
}

.total-price-container{
   width: 100%;
   display:flex;
   margin-bottom: 40px;
}

.total-price-label{
   width: 48%;
}

.total-price-label h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px; 
   padding-top:12px;
}

.total-price-text{
   width: 48%;
}

.total-price-text h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 500;
   font-size: 17px; 
   padding-top:12px;
}

.job-button-container-submit{
   width: 100%;
   border: 1px solid red;
}

.job-button-container-submit{
   float: right;
   height: 5vh;
   width: 15%;
   background-color:#001D6E;
   border:none;
   color: white;
   font-family: Montserrat;
   font-size: 14px;
   border-radius: 10px;
   padding-top: 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}


.buttons4{   
   height: 6vh;
   width: 90%;
   background-color:white;
   border: 1px solid #001D6E;
   color: #001D6E;
   font-family: Montserrat;
   font-size: 17px;
   border-radius: 10px; 
   font-weight: 700;
   
}

.buttons8{   
   height: 6vh;
   width: 90%;
   background-color:rgb(81, 170, 81);
   border: none;
   color: white;
   font-family: Montserrat;
   font-size: 17px;
   border-radius: 10px; 
   font-weight: 700;
}



.buttons5{
   height: 6vh;
   width: 90%;
   background-color:#C4DDFF;
   border: none;
   color: #001D6E;
   font-family: Montserrat;
   font-size: 17px;
   border-radius: 10px; 
   font-weight: 700;
}

.buttons6{
   height: 6vh;
   width: 90%;
   background-color:white;
   border: 1px solid #001D6E;
   color: #001D6E;
   font-family: Montserrat;
   font-size: 17px;
   border-radius: 10px; 
   font-weight: 700;
}

.job-order-container{
   width: 100%;
   display:flex;
   margin-bottom: 10px;
   margin-top: 10px;
}

.job-order-label{
   width: 50%;
}

.job-order-label h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px; 
   padding-top:12px;
}

.job-order-label-text{
   width: 40%;
}

.job-order-label-text h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 500;
   font-size: 17px; 
   padding-top:12px;
}


.name-container3{
   width: 100%;
   display:flex;
   margin-bottom: 40px;
}

.name-container3-label{
   width: 50%;
}

.name-container3-label h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px; 
   padding-top:12px;
}

.name-container3-text{
   width: 40%;
}

.name-container3-text h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 500;
   font-size: 17px; 
   padding-top:12px;
}

.rating-container{
   width: 100%;
   margin-top: 40px;
}

.rating-label{
   width: 100%;
}

.rating-label h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px; 
   padding-top:12px;
}

.rating-button-container{
   width: 90%;
   margin:auto;
   display:flex;
}

.rating-button-container .btn1{
   width: 13%;
   height: 10vh;
   background-color: white;
   border-radius: 100%;
   margin-top: 15px;
   margin-right: 40px;
   font-size: 23px;
   color: #001D6E;
   outline: none;
   border:1px solid #001D6E;
}

.rating-button-container .btn1:hover{
   background-color:#001D6E;
   color: white;
}


.review-container{
   width: 100%;
}

.review-label{
   width: 100%;
}

.review-label h6{
   width: 100%;
   font-family: Montserrat;
   font-weight: 700;
   font-size: 20px; 
   margin-top: 50px;
}

.review-form{
   width: 80%;
}

#textarea{
   border-radius: 10px;
   width: 100%;
   padding-left: 10px;
   padding-top: 10px;
}

.buttons7{
   height: 5vh;
   width: 15%;
   background-color:#001D6E;
   border:none;
   color: white;
   font-family: Montserrat;
   font-size: 14px;
   border-radius: 10px;
   padding-top: 2px;
   margin-left: 470px;
   margin-top: 40px;
}

/* AYUSIN SOON */
.extends{
   width: 120px;
   height: 12vh;
   display:flex;
   margin-top: 50px;
   margin-left: 500px;
   margin-bottom: 0px;
}

.buttons4{  
   height: 6vh;
   width: 250px;
   background-color:#001D6E;
   border:none;
   color: white;
   font-family: Montserrat;
   font-size: 17px;
   border-radius: 10px;
   font-weight: 500;
}

.shadow-box-contain{
   border: 1px solid rgba(255, 255, 255, 0);
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.shadow-box-contain form {
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 20px;
}

.shadow-box-contain input {
   margin-bottom:20px;
   margin-right: 20px !important;
}

.formSection1{
   font-size: 16px;
}
