*{
    margin:0;
    padding:0;
}

body{
    background-image: url("/images/background.png");
    background-size: cover;
    height: 153vh;
}


.login-form-container{
    margin: auto;
	padding: 20px 20px ;
	width: 32%;
	border: 1px solid #B4A8A6;
	background-color: white;
	border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 180px;
    height: 93vh;
}

.login-form-container img{
    width: 55%;
    height: 19vh;
    margin-top: 15px;
    margin-left: 27px;
}

.login-form-container h1{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    
}

.login-form-container p{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    color: #8692A6;
}

.input-container{
    margin-top: 35px;
}

.form-label1{
    font-size: 13px;
	font-family: Montserrat;
    color:#696F79;  
    height:20px;
    margin-left: 20px;
}

.form-forgot-label{
    font-size: 13px;
	font-family: Montserrat;
    color: #696F79;
    height:20px;
    margin-left: 20px;
}


.form-box1{
    border: 1px solid #8692A6; 
	width: 90%;
	height: 40px;
	padding: 10px 10px;
    margin-left: 20px;
    margin-bottom: 25px;
	outline: none;
	border-radius: 5px;
}

.btns{
	border: 0px;
	width: 90%;
    height: 45px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	padding: 12px 30px;
	background-color: #001D6E; 
    border-radius: 3px;
    transition-duration: 0.4s; 
    margin-top: 15px;
    margin-left: 20px;
}

.btns:hover{
	background-color: #FDF7ED;
	color: #001D6E;
	border: 1px solid #001D6E;
}