{% extends 'main_products.html' %}
<title>  SalOnTheGo | {{product.Prod_Name}} </title>

{% block content %}
<div class="main-wrapper">
    <!-- GO BACK LINK -->
    <div class="go-back-indiv-prod">
        <a href="{% url 'otc-products' %}"><i class="fa-solid fa-circle-arrow-left"></i>Go back</a>
    </div>

    <!-- STOCK MESSAGE -->
    <div class="stock-msg">
        <ul>
            {% for message in messages %}
            <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="prod-info">
        
        <div class="prod-img2-container">
            {% if product.Prod_Image %}<img src="{{product.Prod_Image.url}}" class="prod-img2" />{% endif %}
        </div>
        <h2>{{product.Prod_Name}}</h2>
        <ul>
            <li><label class="prod-details-title">ID: </label><label class="prod-details">{{product.id}}</label></li>
            <li><label class="prod-details-title">Product Type: </label><label class="prod-details">{{product.ProdType_Name}}</label></li>
            <li><label class="prod-details-title">Category: </label> <label class="prod-details">{{product.Cat_Name}}</label></li>
            <li><label class="prod-details-title">Price: </label><label class="prod-details" id="price">{{product.Prod_Price|floatformat:2}}</label></li>
            <li><label class="prod-details-title">Stock: </label>
                <!-- if stock greater than 0 -->
                {% if product.Prod_stockQty > 0 %}
                <label class="prod-details">{{product.Prod_stockQty}}</label>
                {% endif %}
                <!-- if stock equal to 0 -->
                {% if product.Prod_stockQty == 0 %}
                <label class="prod-details">Out of Stock.</label>
                {% endif %}
            </li>
            <li><label class="prod-details-title">Measurement: </label> <label class="prod-details">{{product.Measurement_Num}} {{product.Measurement_Type}}</label></li>
            <li><label class="prod-details-title">Description: </label>
                {% if product.Prod_Desc %}
                <label class="prod-details">{{product.Prod_Desc}}</label>
                {% else %}
                <label class="prod-details" style="font-style:italic">No description.</label>
                {% endif %}
            </li>
        </ul>

        <!-- BUTTONS -->
        <div class="labels-container">
                <!-- TITLE -->
                <div>
                    <h2 class="stock-title">Stock</h2>
                    <div class="stock-btns">
                        <ul> 
                            <li class="top-labels"><a href="{% url 'deduct-stock' product.id %}" class='use-stock-btn'>USE STOCK</a></li>
                            <li class="top-labels"><a href="{% url 'restock' product.id %}" class='restock-btn'>RESTOCK</a></li>
                            
                        </ul>
                    </div>
                    <li class="top-labels" id="btn-right"><a href="{% url 'otc-individual-product-history' product.id %}" class="history-btn">Product Logs</a></li>


                    <table class="products-table">
                        <thead class="products-thead">
                            <tr>
                                <!-- TABLE HEADER -->
                                <th scope="col">Product Name</th>
                                <th scope="col">Quantity in Stock</th>
                                <th scope="col">Last Updated</th>
                            </tr>
                        </thead>
            
                        <tbody class="products-tbody">
             
                            <tr>
                                <!-- TABLE BODY -->
                                <td data-label="Product Name" class="td-align-left">{{product.Prod_Name}}</td>
                                <td data-label="ID">{{product.Prod_stockQty}}</td>
                                <td data-label="Product Type" id="category">{{product.last_updated}}</td> 
                            </tr>
                        </tbody>
                    </table>

                    
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}