<title>  SalOnTheGo | Product Reservation Sales Report</title>

{% extends "general/homepage-user.html" %} 
{% load static %}

{% block content %}

<div class="main"> 
<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <div class="main-wrapper">
        <div class="container">
            <!-- START OF COUNTER -->
            <div class="sales-container-1">    
                <div class="sales-container">
                    <label class="sales-title">Online Product Reservations</label><br>
                    <label class="sales-counter">{{sales_count}}</label>
                </div>
                <div class="sales-container">
                    <label class="sales-title">Total Sales</label><br>
                    <label class="sales-counter" id="price">{{total_sales.total|floatformat:2}}</label>
                </div>
            </div>
            <!-- END OF COUNTER -->
            <div class="prodtable-container1">
                <div class="labels-container">
                    <form method="POST">
                        <!-- TITLE -->
                        <div class="labels0">
                            <h2>Product Reservation Sales</h2>
                        </div>
                        <!-- NEW DIV -->
                        <div class="date-export-container" style="padding-top: 25px;">

                            <div class="date-export-child-date">
                                {% csrf_token %}
                                From: <input type="date" class="filter-date-input" name="fromdate" required/>
                                &nbsp; To: <input type="date" class="filter-date-input" name="todate" required/>
                                    <input type ="submit" class="filter-search" name="button" value="Search"/>
                            </div>
                            <div class="date-export-child-export">
                                <a href="/shop/createpdf-productsales" class="export-btn">Export Table</a>
                            </div>
                            
                        </div>
                        <!-- END OF NEW DIV -->
                    </form>
                </div>
                <table class="products-table">
                    <thead class="products-thead">
                        <tr>
                            <!-- TABLE HEADER -->
                            <th scope="col">Customer</th>
                            <th scope="col">Transaction ID</th>
                            <th scope="col">Pickup Date</th>
                            <th scope="col">Order</th>
                            <th scope="col">Date Ordered</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>

                    <tbody class="products-tbody">
                        {% for orderpickup in page_prod %}
                            {% if orderpickup.order.complete == True %}
                            {% if orderpickup.order.pickupstat_id == 'Transaction Successful' %}
                            <tr>
                                <!-- TABLE BODY -->
                                <td data-label="Customer"><a href="{% url 'order-details' orderpickup.order.id %}" id="customer-name-link">{{orderpickup.order.customer}}</a></td>
                                <td data-label="Transaction ID" id="transaction-style">{{orderpickup.order.transaction_id}}</td>
                                <td data-label="Pickup Date">{{orderpickup.pickup}}</td>
                                <td data-label="Order">
                                    {% for item in items %}
                                        {% if item.order.id == orderpickup.order.id %}
                                            {{ item.product }} x {{ item.quantity }}<br>
                                        {% endif %}
                                    {% endfor %}
                                </td>     
                                <td data-label="Date Ordered">{{orderpickup.order.date_ordered}}</td>
                                <td data-label="Total" id="price">{{orderpickup.order.get_cart_total}}</td>                
                            {% endif %}
                            {% endif %}

                                {% empty %}
                                <td colspan="7">No results found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- PAGE NAVIGATION -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_prod.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_prod.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    <!-- PAGE INDICATOR -->
                    <span class="current">
                        Page {{ page_prod.number }} of {{ page_prod.paginator.num_pages }}
                    </span>
            
                    {% if page_prod.has_next %}
                        <a href="?page={{ page_prod.next_page_number }}">next</a>
                        <a href="?page={{ page_prod.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

<!-- BACK TO TOP BUTTON -->
<button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fa-solid fa-arrow-up"></i>
</button>
<!-- BACK TO TOP SCRIPT -->
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>
{% endblock content %}