{% extends "general/homepage-user.html" %} 
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin/edit-profile2.css' %}">

<div class="main">
    <div class="content-container">
        <div class="header-container">
            <p>Edit Staff Profile</p>
         </div>

         <div class="top-container">
            <img class="image-container"  src="{{ request.user.profile_pic.url }}">
            <div class="name-container">
                <label class="text-label">{{ user.first_name }}</label>
                <label class="text-label">{{ user.last_name }}</label><br>
                <button class="button3">Upload Photo</button>
            </div>
        </div>


        <div class="botton-container">
            <label class="text-label1">Staff Role</label>
            <label class="text-label5">{{ user.staff.stafftype }}</label><br><br>

            <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                
                <label class="text-label6">First name</label>
                <input class="form-box" type="text" id="fname" name="fname" value="{{ user.first_name }}" Required>

                <label class="text-label2">Last name</label>
                <input class="form-box" type="text" id="lname" name="lname" value="{{ user.last_name }}" Required><br><br>
                
                <label class="text-label3">Contact Number:</label>
                <input class="form-box" type="text" id="contact_number" name="contact_number" placeholder="09123456789" Required value="{{ user.staff.contact_number }}"><br><br>
                
                <label class="text-label4" >Gender</label>
                <select class="form-box" name="gender">
                    {% for row in gender_rows  %}
                        <option value="{{row.id}}" > {{row.gendertype}} </option>
                    {% endfor %}
                </select>
                <br><br>
                

                <button class="button1" type="submit" value="Submit">Save</button>
                <a href="/staff/"><button type="button"  name="cancel" class="button2" type="submit">Cancel</button></a>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}


