{% load static %}
{% include 'general/navbar-user.html' %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> SalOnTheGo | About Us </title>
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="main">
        <!-- ABOUT US CONTENT -------------------------------------------------------------------------------->
        <div id="home" class="home">
            <!-- KNOW MORE ABOUT US -->
            <br><br><br><br>
            <p id="sub-heading" class="sub-heading"> KNOW MORE <p>
            <p id="heading" class="heading"><b>ABOUT US</b></p>
            <br><br>
            <!-- Shop Button -->
            <button type="button" id="shopbtn" class="shopbtn"> <a href="#"> Shop Now </a> </button></p>
        </div>

    
        <br><br><br>
        <br><br><br>
        <!-- DESCRIPTION... TEXT -->
        <div id="heading1" class="heading1">
            <p id="onlineshop" class="onlineshop"><b>BOOK YOUR APPOINTMENTS ON THE GO!</b></p>
            <br>
            <p id="onlineshop-text" class="onlineshop-text"> SalOnTheGo is where David's Salon customers can book their appointments, reserve a product anytime, anywhere!</p>
            <p id="onlineshop-text" class="onlineshop-text"><br> Enjoy scheduling appointments online. It's fast and hassle-free!</p>
            <br><br>
            <br><br>
            <!-- Book Button -->
            <button type="button" id="explrbtn" class="explrbtn"> <a href="#"> Explore SalOnTheGo </a> </button></p>
        </div>

        <!-- MEET OUR TEAM -->
        <div id="heading2" class="heading2">
            <br><br><br>
            <p id="heading2-text" class="heading2-text">
                <p id="team-1" class="team-1"><b>MEET OUR TEAM</b></p>
        </div>
        
        <br><br><br><br>
        
        <!-- BRANCH STAFF TEXT -->
        <div id="heading3" class="heading3">
            <p id="team" class="team"><b>BRANCH STAFF</b></p>
            <br>
            <br><br>
                
        <!-- Container for Branch Staff Names Row 1 -->
        <div class="container1">
            <div class="profiles">
            <!-- Profile 1 -->
            <div class="profile">
                <!-- Full Name -->
                <h3 class="user-name">Mr. Oscar</h3>
                <!-- Position -->
                <h5>Senior Hairdresser</h5>
            </div>
            
            <!-- Profile 2 -->
            <div class="profile">
                <!-- Full Name -->
                <h3 class="user-name">Ms. Steph</h3>
                <!-- Position -->
                <h5>Senior Hairdresser</h5>
            </div>

            <!-- Profile 3 -->
            <div class="profile">
                <!-- Full Name -->
                <h3 class="user-name">Mr. Mike</h3>
                <!-- Position -->
                <h5>Senior Hairdresser</h5>
            </div>

            <!-- Profile 4 -->
            <div class="profile">
                <!-- Full Name -->
                <h3 class="user-name">Ms. Joy</h3>
                <!-- Position -->
                <h5>Inventory Clerk</h5>
            </div>
            </div>
        </div>

        
        <!-- Container for Team Profiles Row 2-->
        <div class="container2">
            <div class="profiles">
            <!-- Profile 1 -->
            <div class="profile">
                <!-- Full Name -->
                <h3 class="user-name">Ms. Shiki</h3>
                <!-- Position -->
                <h5>Junior Stylist</h5>
            </div>
            
            <!-- Profile 2 -->
            <div class="profile">
                <!-- Full Name -->
                <h3 class="user-name">Ms. Mary</h3>
                <!-- Position -->
                <h5>Junior Stylist</h5>
            </div>

            <!-- Profile 3 -->
            <div class="profile">
                <!-- Full Name -->
                <h3 class="user-name">Mr. Bert</h3>
                <!-- Position -->
                <h5>Junior Stylist</h5>
            </div>

            <!-- Profile 4 -->
            <div class="profile">
                <!-- Full Name -->
                <h3 class="user-name">Ms. Destine</h3>
                <!-- Position -->
                <h5>Junior Stylist</h5>
            </div>
            </div>
        </div>

        <hr style="margin: auto; width: 50%;">

        <!-- MEET THE TEAM TEXT -->
        <div id="heading3" class="heading3" style="margin-top: 15%;">
            <p id="team" class="team"><b>THE DEVELOPERS</b></p>
            <br>
            <br><br>
                
        <!-- Container for Team Profiles Row 1 -->
        <div class="container1">
            <!-- Profile 1 -->
            <div class="profiles">
            <div class="profile">
                <!-- Profile Image -->
                <img src="/images/profile-1.png" class="profile-img">
                <!-- Full Name -->
                <h3 class="user-name">ARVIN GUIA</h3>
                <!-- Position -->
                <h5>Lead Web Developer</h5>
            </div>
            
            <!-- Profile 2 -->
            <div class="profile">
                <!-- Profile Image -->
                <img src="/images/profile-3.png" class="profile-img">
                <!-- Full Name -->
                <h3 class="user-name">ANDREA ALOC</h3>
                <!-- Position -->
                <h5>Full Stack Developer</h5>
            </div>

            <!-- Profile 3 -->
            <div class="profile">
                <!-- Profile Image -->
                <img src="/images/profile-6.png" class="profile-img">
                <!-- Full Name -->
                <h3 class="user-name">JENNAH FAJARDO</h3>
                <!-- Position -->
                <h5>Full Stack Developer</h5>
            </div>
            </div>
        </div>

        
        <!-- Container for Team Profiles Row 2-->
        <div class="container2">
            <!-- Profile 1 -->
            <div class="profiles">
            <div class="profile">
                <!-- Profile Image -->
                <img src="/images/profile-5.png" class="profile-img">
                <!-- Full Name -->
                <h3 class="user-name">ANDREA MEDINA</h3>
                <!-- Position -->
                <h5>Full Stack Developer</h5>
            </div>
            
            <!-- Profile 2 -->
            <div class="profile">
                <!-- Profile Image -->
                <img src="/images/profile-4.png" class="profile-img">
                <!-- Full Name -->
                <h3 class="user-name">LEMUEL QUERUBIN</h3>
                <!-- Position -->
                <h5>Full Stack Developer</h5>
            </div>
            </div>
        </div>
        </div>
        
        <!-- CONTACT US TEXT -->
        <div id="heading4" class="heading4">
            <br><br><br><br>
            <br><br><br><br>
            <p id="contactUs" class="contactUs"><b>CONTACT US</b></p>
            <br>
            <p id="contactUs-text1" class="contactUs-text1"> Got any questions? Please don’t hesitate to reach out to us!</p>
            <p id="contactUs-text2" class="contactUs-text2"> smgcdavids@gmail.com | 02 511 9000 </p>
            <br><br>
        </div>

    <br><br><br><br>
    <br><br><br><br>

</div>

{% include 'general/footer.html' %}




    
    

