<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> SalOnTheGo </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- ICONS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- FOOTER AND NAVBAR CSS -->
    <link rel="stylesheet" href="{% static 'css/general/nav-footer.css' %}">

</head>
<body>
    <!-- FOOTER PAGE -->
    <!-- accounts/templates/general/footer.html -->
    <!------------------------------- FOOTER ------------------------------------------->
    <div class="footer">
        <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col">
            <div>
                <ul>
                <a href="#"></a>
                <a href="#"></a>
                </ul>
            <br><br><br><br><br><br><br><br>
            
            </div>
            </div>
            <div class="footer-col">
                <!-- QUESTIONS -->
                <h4>Questions</h4>
                <ul>
                <li><a href="#">Ask Daveed</a></li>
                <li><img src="{% static '/images/daveed.png' %}" width="130"></li>
                </ul>
            </div>
            <div class="footer-col">
                <!-- GET TO KNOW US -->
                <h4>Get to know us</h4>
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
            <!-- FOLLOW US -->
                <h4>follow us</h4>
                <div class="social-links">
                <a href="#"><i class="fab fa-google"> </i></a>
                <a href="#"><i class="fab fa-facebook-f"> </i></a>
                <a href="#"><i class="fab fa-instagram"> </i></a>
                </div>
            </div>

            <!-- SOTG COPYRIGHT -->
            <div class="hbs-copyright">
                <p><img src="{% static '/images/logo-4.png' %}" width="250"></p>
                <h5><p style="color: white"> &#169; SalOnTheGo 2022</p></h5>
            </div>
        </div>
        </div>
    </div>
</div>
  </body>
  </html>

