{% load static %}
        
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <!-- Not Logged In-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> SalOnTheGo | Promos </title>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="{% static 'css/general/promos.css' %}">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    {% include 'general/navbar-user.html' %}

    <body>
        <!-- PROMOS CONTENT -------------------------------------------------------------------------------->
        <div id="home" class="home">
            <br><br><br><br>
            <p id="sub-heading" class="sub-heading"> DAVID'S SALON <p>
            <p id="heading" class="heading"><b>PROMOS</b></p>
            <br><br>
            <!-- Shop Button -->
            <button type="button" id="shopbtn" class="shopbtn"> <a href="#"> Shop Now </a> </button></p>
        </div>

    
        <br><br><br>
        <br><br><br>
        <!-- DESCRIPTION... TEXT -->
        <div id="heading1" class="heading1">
            <p id="onlineshop" class="onlineshop"><b>AVAIL DAVID'S SALON PRIVILEGE CARD TODAY!  </b></p>
            <br>
            <p id="onlineshop-text" class="onlineshop-text"> Get the one card that brings out the best in you - the David's Salon Privilege Card! </p>
            <p id="onlineshop-text" class="onlineshop-text">Cardholders get an amazing 15% discount on all hair services in all David’s Salon branches every day, any day of the year, for two years!</p>
            <br><br>
            <!-- Explore Button -->
            <button type="button" id="explrbtn" class="explrbtn"> <a href="#"> Explore SalOnTheGo </a> </button></p>
        </div>

        <!-- PRIVILEGE CARD -->
        <div id="heading2" class="heading2">
            <br><br><br>
            <p id="heading2-text" class="heading2-text">
                <p id="team-1" class="team-1"><b>DAVID'S PRIVILEGE CARD</b></p>
        </div>
        
        <br><br><br><br>
        
        <!-- AVAIL DAVID'S PRIVILEGE CARD -->
        <div id="heading3" class="heading3">
            <p id="team" class="team"><b>HOW TO AVAIL DAVID'S PRIVILEGE CARD</b></p>
            <br>
            <p id="onlineshop-text" class="onlineshop-text"> To get a DPC, fill up an application form at any David's Salon branch and pay a fee of P200. Immediately, you can get your favorite hair services, like haircuts, hair color, rebonding, perming, keratin, and hair treatments with a discount!</p>
            <p id="onlineshop-text" class="onlineshop-text"> With the DPC, you are sure to get world-class services, at a great price.</p>
            <br><br>
            <br><br>
        </div>
        
        <!-- CONTACT US TEXT -->
        <div id="heading4" class="heading4">
            <br><br><br><br>
            <br><br><br><br>
            <p id="contactUs" class="contactUs"><b>CONTACT US</b></p>
            <br>
            <p id="contactUs-text1" class="contactUs-text1"> Got any questions? Please don't hesitate to reach out to us!</p>
            <p id="contactUs-text2" class="contactUs-text2"> smgcdavids@gmail.com | 02 511 9000 </p>
            <br><br>
        </div>

    <br><br><br><br>
    <br><br><br><br>
    </body>
</html>

{% include 'general/footer.html' %}




    
    

