<title> SalOnTheGo | Reviews </title>


{% load static %}
{% include 'general/navbar-user.html' %}
        
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <!-- Not Logged In-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> SalOnTheGo | Promos </title>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        {% comment %} <link rel="stylesheet" href="{% static 'css/general/promos.css' %}"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/general/reviews.css' %}">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://kit.fontawesome.com/978ddb0a33.js" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>
        <div class="reviews-heading">
            <p id="text1">Customer</p>
            <p id="text2">Reviews</p>
        </div>
        <!-- STYLIST 1 -->
        <div>
            <br><br>
            {% comment %} <div class="stylist-heading">
                <p id="stylistName" class="stylistName"><b>MR. OSCAR MARTINEZ</b></p>
            </div> {% endcomment %}
            <div class="review-container">
                {% for row in form %}
                    {% if row.appointmentInfo.appointmentStatus == 'Successful' %}
                    
                        <div class="review-box">
                            <div class = "review-pfpnamedate">
                                <div class="review-pfp">
                                    <img src="{% static 'images/default-prof.jpg' %}">
                                </div>
                                    <div class="namedaterating">
                                        <div class = "review-firstname">
                                            <p>{{ row.appointmentInfo.customer.customer.first_name }}</p>
                                        </div>
                                        <div class = "review-date">
                                            <p>{{ row.appointmentInfo.apptDate|date:'F d, Y' }}</p>
                                        </div>
                                        <div class = "review-rating">
                                            <p>RATING:
                                            {% if row.id in fb_list %}
                                                {% for row1 in fb %}
                                                    {% if row1.feedbackInfo.id ==  row.id and row1.isPositive == 1 %} 
                                                        <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                                    {% elif row1.feedbackInfo.id ==  row.id and row1.isNegative == 1 %} 
                                                        <i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class = "review-text">
                                    {% if row.id in fb_list %}
                                        {% for row1 in fb %}
                                            {% if row1.feedbackInfo.id == row.id %}
                                                <p>{{ row1.review }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>  
    </body>
</html>

{% include 'general/footer.html' %}




    
    

