{% load static %}
<html>
<head>
    <title>ERROR 404</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<style>
    h1{
        font-family: 'Montserrat'; 
    }

    h4{
        font-family: 'Montserrat';
    }
</style>

<body>
    <br><br>
    <center><h1>You do not have the permission to access this page!</h1></center> 
    <center><h4>Click this '<a href="/login">link'</a>&nbsp;to go back to the login page. </h4></center>
    <br><br><br>
    <center><img src="{% static '/images/error.png' %}" width='1000' height='500px'></center>
    <!--Bakit yan gumagana? ahahahahhaa ewan ko ba hahaha parang sira diba-->
</body>
</html>
