{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Appointments</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/c3481268b6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/appts.css' %}">
  </head>
  <body>
		
	<div class="wrapper d-flex align-items-stretch">			

		<div class="container-fluid justify-content-end">
			<div class="row main justify-content-between">
				<div class="col-sm-12 col-md-4 col-lg-4">
					<h5 class="pageHeader"><a href="{% url 'calendar' %}"><span class="fa fa-arrow-circle-left mr-3"></span></a>Go Back to Calendar</h5>
				</div>
				<div class="col-sm-12 col-md-8 col-lg-8"></div>
			</div>

            <div class="row sub justify-content-between ">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="shadow-box-contain">
                        <form method="POST">
                            {% csrf_token %}
                                <div class="cardNewProject animate slide delay-1">
                                    <div class="row justify-content-between">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            
                                            <h5 class="formSection1"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;APPOINTMENT FORM</h5>								
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="row justify-content-between">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <h5 class="profileHeader">First Name</h5>
                                            <input type="text" class="form-control" name="fname" value="{{ user.first_name }}" aria-describedby="companyNameHelp" required>
                                        </div>
                                        
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <h5 class="profileHeader">Last Name</h5>
                                            <input type="text" class="form-control" name="lname" value="{{ user.last_name }}" aria-describedby="companyNameHelp" required>
                                        </div>
                                    </div>
            
                                    <br><br>
                                    <div class="row justify-content-between">
                                        <div class="col-sm-12 col-md-5 col-lg-5">
                                            <h5 class="formSection1"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;&nbsp;Service</h5>
                                        
                                        </div>
                                        <div class="col-sm-12 col-md-2 col-lg-2">
                                            <h6 id="addRow" class="addRowButton"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add another service</h6>
                                        </div>
                                        <div class="col-sm-12 col-md-5 col-lg-5"></div>
                                    </div>
                                    <div id="serviceRow" class="row justify-content-between">
                                        <div class="col-sm-12 col-md-5 col-lg-5">
                                            <br>
                                            <select class="form-select" name="services" aria-label="Default select example" required>
                                                <option value="" selected disabled hidden>Select a service</option>
                                                <!--HAIRCUT-->
                                                <option value="Haircut">Haircut (₱350)</option>
                                                <!--COLOR-->
                                                <option value="Tint">Tint (₱1,750)</option>
                                                <option value="Cellophane">Cellophane (₱1,960)</option>
                                                <option value="Highlights">Highlights (foil) (₱2,240)</option>
                                                <!--TREATMENT-->
                                                <option value="Regular Hot Oil">Regular Hot Oil(₱980)</option>
                                                <option value="Hair Spa">Hair Spa (₱1,400)</option>
                                                <option value="Intense Treatment">Intense Treatment (₱1,680)</option>
                                                <option value="Keratin">Keratin (₱4,500)</option>
                                                <option value="Brazillian">Brazillian (₱4,500)</option>
                                                <!--FORM-->
                                                <option value="Perm">Perm (₱2,100)</option>
                                                <option value="Hair Relax">Hair Relax (₱3,360)</option>
                                                <option value="Hair Rebond">Hair Rebond (₱4,500)</option>
                                                <!--HAIR AND MAKE UP-->
                                                <option value="Shampoo and Blowdry">Shampoo and Blowdry (₱300)</option>
                                                <option value="Setting Ironing">Setting/Ironing (₱600)</option>
                                                <option value="Make-up">Make-up (₱1,120)</option>
                                                <option value="Hair & Make-up">Hair & Make-up (₱1,500)</option>
                                                <!-- THREADING 
                                                <option value="Eyebrow">Eyebrow (₱225)</option>
                                                <option value="Eyebrow(Shave)">Eyebrow(Shave) (₱150)</option>
                                                <option value="Upper Lip">Upper Lip (₱225)</option>
                                                <option value="Full Face">Full Face (₱650)</option>
                                                <NAIL CARE>
                                                <option value="Manicure">Manicure (₱250)</option>
                                                <option value="Pedicure">Pedicure (₱310)</option>
                                                <option value="Foot Spa"> Foot Spa (₱350)</option>
                                                <option value="Foot Massage">Foot Massage (₱350)</option>
                                                <option value="Nail Gel">Nail Gel (₱300)</option>
                                                <option value="Nail Gel Removal">Nail Gel Removal (₱180)</option>
                                                <option value="Pedicure">Change Polish (₱200)</option>
                                                -->
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-7 col-lg-7">
                                            <br>
                                            <i id="removeService" class="fa fa-minus-square" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                    <div id="newServiceRow"></div>
            
                                    <br><br>
                                    <b>NOTE:</b> 
                                        <ul>
                                            <li>• Prices are quoted at a minimum, and may vary depending on hair length and history. </li>  
                                            <li>• Please be reminded that only selected services will be accommodated on the time of the appointment. </li>
                                        </ul>
                                    <br>
                                    <div class="row justify-content-between">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <input class="buttons" type="submit" value="Next">
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>

				<div class="col-sm-12 col-md-4 col-lg-4 illustration1">

				</div>
            </div>
			<br><br><br><br>
		</div>
      
	</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<script src="{% static '/js/appts.js' %}"></script>

    <script>
     // DISABLE SAME OPTION FROM BEING PICKED
    /*
     $('select[name=services]').on('change', function() {
        var self = this;
        $('select[name=services]').find('option').prop('disabled', function() {
            return this.value == self.value
        });
    });
    */
        
    
    </script>
</body>
</html>