{% extends "general/homepage-user.html" %} 
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin/accounts.css' %}">
<script src="{% static 'js/sorttable.js' %}"></script>

<div class="main">
    <br><br><br>
    <div class="tables">
        <!-- FEEDBACK TABLE -->
        <p class="tbl-title">Ratings & Reviews</p>
        
        <div class="admin-accounts-tbl">
            <table width="100%" class="sortable">
                <thead>
                    <th>Date & Time</th>
                    <th>Service Availed</th>
                    <th>Stylist/s</th>
                    <th>Rating</th>
                    <th>Review</th>
                    <th>Option</th>
                </thead>
                <tbody>
                    {% for row in form %}
                    {% if row.appointmentInfo.appointmentStatus == 'Successful' %}
                    <tr>
                        <td>{{ row.appointmentInfo.apptDate|date:'F d, Y' }} {{ row.appointmentInfo.appt_timeStart|time:'h:i A' }}</td> <!--Date & Time-->
                        <td>{% for key in row.appointmentInfo.services %}{{ key }}{% if not forloop.last %}, {% endif %}{% endfor %}</td> <!--Service Availed-->
                        <td>{{ row.finalStylist }}</td> <!--Stylist/s-->
                        <td>
                            {% if row.id in fb_list %}
                                {% for row1 in fb %}
                                    {% if row1.feedbackInfo.id ==  row.id and row1.isPositive == 1 %}
                                        Positive
                                    {% elif row1.feedbackInfo.id ==  row.id and row1.isNegative == 1 %}
                                        Negative
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                Not yet Rated 
                            {% endif %}
                        </td> <!--Rating-->
                        
                        <td>
                            {% if row.id in fb_list %}
                                {% for row1 in fb %}
                                    {% if row1.feedbackInfo.id ==  row.id  %}
                                       {{ row1.review }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                Not yet Rated 
                            {% endif %}
                        </td> <!--Review-->

                        <td>
                            {% if fb %}
                                {% if row.id in fb_list %} <!--if feedback object exists-->
                                    <div class="button-container">
                                    <div>
                                        <form method="POST">
                                        {% csrf_token %}
                                            {% for row1 in fb %}
                                                {% if row1.feedbackInfo.id ==  row.id %}
                                                    <input type="hidden" value="{{ row.id }}" name="edit">
                                                    <input class="buttons5" type="submit" value="Edit Review" name="button" id="edit">
                                                {% endif %} 
                                            {% endfor %}
                                        </form>
                                    </div>
                                {% else %}
                                    <div class="button-container">
                                    <div>
                                        <form method="POST">
                                        {% csrf_token %}
                                            <input type="hidden" value="{{ row.id }}" name="create">
                                            <input class="buttons5" type="submit" value="Create Review" name="button" id="create">
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </td>  <!--Option-->
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        
    </div>
</div>
{% endblock content %}