{% extends "general/homepage-user.html" %} 
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin/accounts.css' %}">
<script src="{% static 'js/sorttable.js' %}"></script>

<div class="main">
    <br><br><br>
    <div class="tables">
        <!-- FEEDBACK TABLE -->
        <p class="tbl-title">Feedback Table</p>
        
        <div class="admin-accounts-tbl">
            <table width="100%" class="sortable">
                <thead>
                    <th>Date & Time</th>
                    <th>Service Availed</th>
                    <th>Stylist/s</th>
                    <th>Rating</th>
                    <th>Review</th>
                    <th>Option</th>
                </thead>
                <tbody>
                    {% for row in form %}
                    {% if row.appointmentInfo.appointmentStatus == 'Successful' %}
                    <tr>
                        <td>{{ row.appointmentInfo.apptDate|date:'F d, Y' }} {{ row.appointmentInfo.appt_timeStart|time:'h:i A' }}</td> <!--Date & Time-->
                        <td>{% for key in row.appointmentInfo.services %}{{ key }}{% if not forloop.last %}, {% endif %}{% endfor %}</td> <!--Service Availed-->
                        <td>{{ row.finalStylist }}</td> <!--Stylist/s-->
                        <td>
                            {% if fb %}
                            {% regroup fb by appointmentInfo as appt %}
                                {% if row in appt %} <!--if feedback object exists-->
                                    {{row.id}}
                                    <div class="button-container">
                                    <div class="button-half">
                                        <form method="POST">
                                        {% csrf_token %}
                                            <input type="hidden" value="{{ fb.id }}" name="edit">
                                            <input class="buttons5" type="submit" value="Edit Review" name="button" id="edit">
                                        </form>
                                    </div>
                                {% else %}
                                    <div class="button-container">
                                    <div class="button-half">
                                        <form method="POST">
                                        {% csrf_token %}
                                            <input type="hidden" value="{{ row.id }}" name="create">
                                            <input class="buttons5" type="submit" value="Create Review" name="button" id="create">
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="button-half">
                                <form method="POST">
                                {% csrf_token %}
                                    <input type="hidden" value="{{ row }}" name="delete">
                                    <input class="buttons6" type="submit" value="Delete Review" name="button" id="delete">
                                </form>
                            </div>
                        </td> <!--Rating-->
                        
                        <td>{{ fb.review }}</td> <!--Review-->
                        
                        <td>
                        {% comment %} try ko sa ibang column {% endcomment %}
                            {% comment %}{% if fb %}{% endcomment %}
                                {% for feedback in fb %}
                                
                                    {% if row.id == feedback.feedbackInfo.id %} <!--if feedback object exists-->
                                        <div class="button-container">
                                        <div class="button-half">
                                            <form method="POST">
                                            {% csrf_token %}
                                                <input type="hidden" value="{{ fb.id }}" name="edit">
                                                <input class="buttons5" type="submit" value="Edit Review" name="button" id="edit">
                                            </form>
                                        </div>
                                        
                                    {% endif %}
                                    
                                {% endfor %}
                                {% comment %}{% if e = 0 %}{% endcomment %}
                                    <div class="button-container">
                                    <div class="button-half">
                                        <form method="POST">
                                        {% csrf_token %}
                                            <input type="hidden" value="{{ row.id }}" name="create">
                                            <input class="buttons5" type="submit" value="Create Review" name="button" id="create">
                                        </form>
                                    </div>
                                {% comment %}{% endif %}{% endcomment %}
                            
                            {% comment %}{% endif %}{% endcomment %}
                            <div class="button-half">
                                <form method="POST">
                                {% csrf_token %}
                                    <input type="hidden" value="{{ row }}" name="delete">
                                    <input class="buttons6" type="submit" value="Delete Review" name="button" id="delete">
                                </form>
                            </div>
                        </div></td>  <!--Option-->
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        
    </div>
</div>
{% endblock content %}