<html>
<head>
    <title>JOB ORDER FORM</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

    *{
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .main{
        width: 70%;
    }
    
    p{
        font-size: 13px;
    }

    h1{
        font-size: 20px;
        color: #001D6E;
        margin-bottom: -120x;
    }

    h2{
        font-size: 14px;
        border-bottom: -1px;
    }
 
    th{
        text-align: center;   
        font-weight: 700;
        font-size: 15px;
        height: 45px;   
        padding-top: 5px;
    }

    td{
        text-align: center;   
        height: 75px;   
        font-size: 15px; 
        padding-top: 5px;
        text-decoration:none;
    }
    
</style>



<body>

    <div class="main">
        <!-- COPY FOR LETTERHEAD -->
        <div class="main">    
            <table style="border: 1px solid #092147;background-color: #092147; color: white;">
                <thead>
                    <tr>
                        <!-- DATE, TIME, HEADER WITH ADDRESS -->
                        <td style="
                        font-size: 20px;
                        height: 40px;">                
                            DAVID'S SALON SM GRAND CENTRAL BRANCH
                        </td>
                    </tr>
                    <tr>
                        <td style="
                        font-size: 12px;
                        height: 70px;">
                            5th Level SM City Grand Central, Rizal Avenue Extension <br> East Grace Park, Caloocan, 1403 Metro Manila <br>Cel. (+63) 905 931 6531 / (+63) 995 664 2394
                        </td>
                        <!-- END OF DATE, TIME, HEADER WITH ADDRESS -->
                    </tr>
                </thead>
            </table>
            <br>
            <!-- REPORT HEADER -->
            <center><h1>JOB ORDER FORM RECEIPT<hr></h1></center>
        
        <!-- END OF COPY FOR LETTERHEAD -->
            <table style="border: 1px transparent; font-size: 14px;">
                <tbody>
                    <tr>
                        <!-- STYLIST, ETC -->
                        <td style="text-align: left; 
                        height: 200px;">
                            <b>NAME:</b>&nbsp;&nbsp;
                            {% if order.appointmentInfo.apptType == 'Online' %}
                                {{ order.appointmentInfo.customer.customer.first_name }} {{ order.appointmentInfo.customer.customer.last_name }} 
                            {% else %}
                                {{ order.appointmentInfo.customer_fname }} {{ order.appointmentInfo.customer_lname }}
                            {% endif %}
                            <br>
                            <b>STYLIST:</b>&nbsp;&nbsp;{{ order.finalStylist }}
                            <br>
                            <!-- PAYMENT RECEIVED BY -->
                            <b>RECEIVED BY:</b>
                            {% for users in user %}
                                {{ users.first_name }}
                                {{ users.last_name }}
                                ({{ users.admin.stafftype }})
                            {% endfor %}
                        </td>
                        <!-- DATE AND TIME GENERATED -->
                        <td style="text-align: left; 
                        height: 200px;
                        width: 200px;">
                            <b>DATE:</b>&nbsp;&nbsp;{{ current_datetime|date:'F m, Y' }}
                            <br>
                            <b>TIME:</b>&nbsp;&nbsp;{{ current_datetime|time:'f:s A' }}
                            <br>
                            <br>
                        </td>
                    </tr>
                </tbody>
            </table>
        <br>

    </div>
    
    <table style="border: 1px solid gray;">
        <thead style="border: 1px solid #092147; color: white;">
            <tr style="background-color: #092147;">
                <!-- TABLE HEADER -->
                <th>SERVICE/S</th>
                <th>PRICE</th>
            </tr>
        </thead>

        <tbody class="products-tbody">
            <tr>
                <!-- TABLE BODY -->
                <!-- SERVICES -->
                <td style="height: 200px;">
                    {% for key in order.servicePrices.keys %}
                    {{ key }}
                        {% if not forloop.last %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </td>
                <!-- SERVICES PRICE -->
                <td style="height: 200px;">
                    {% load humanize %}
                    {% for value in order.servicePrices.values %}
                        Php {{ value|floatformat:2|intcomma }}
                        {% if not forloop.last %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <b>TOTAL AMOUNT DUE:</b>
                </td>
                <td>
                    <b>Php {{ order.totalPrice|intcomma }}</b>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
    
    