<title> SalOnTheGo | Job Order Form</title>
{% extends "general/homepage-user.html" %} 
{% load static %}

{% block content %}

<div class ="main">
  <head>
  	<title>Job Order Form</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/c3481268b6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/appts1.css' %}">
  </head>
  <body>
		
	<div>			
        <div class="go-back">
            <h5><a href="{% url 'alljobOrderforms' %}"><span class="fa fa-arrow-circle-left mr-3"></span>Go Back to Job Order Forms</a></h5>
        </div>

            <div class="form-container shadow-box-contain">
                <div>
                    <form method="POST">
                        {% csrf_token %}
                            <div>
                                <div class="header-container">
                                    <h5 class="formSection1"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;JOB ORDER FORM - SERVICES</h5>								
                                </div>
                                    
                         
                                <div class="date-time-container">
                                    <div class="date-container1">
                                        <h6>DATE:</h6> <p>{{ appt.apptDate|date:'F d, Y' }}</p>
                                    </div>
                                    <div class="time-container1">   
                                        <h6>TIME:</h6> <p>{{ appt.appt_timeStart|time:'h:i A' }}</p>
                                    </div> 
                                </div>
     
                                <div class="job-name-container">
                                    <div class="name-container1">
                                        <h6>NAME:</h6>
                                        {% if appt.apptType == 'Online' %}
                                            <p>{{ appt.customer.customer.first_name }} {{ appt.customer.customer.last_name }}</p>
                                        {% else %}
                                            <p>{{ appt.customer_fname }} {{ appt.customer_lname }}</p>
                                        {% endif %}
                                    </div>
                                </div> 
                       
                                <div class="service-price-containers1">
                                    <div class="service-containers1">
                                        <h6> SERVICE/S:<h6>
                                        <h1>   
                                            {% for key in appt.services %}
                                            <ul>
                                                <li>{{ key }}</li>       
                                            </ul>
                                                {% if not forloop.last %}
                                                    <br>
                                                {% endif %}
                                            {% endfor %}       
                                        </h1>
                                    </div>

                                    <div class="price-containers1">
                                        <h6> PRICES: </h6>
                                        {% for key in appt.services %}
                                            <input onchange="findTotal()" type="text" name="price" class="input-price-jof"/>
                                            {% if not forloop.last %}
                                                <br><br>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                </div>


                                {% comment %} 
                                <div class="product-used-container">
                                    <div class="product-used-label">
                                        <h6>PRODUCTS USED: </h6>
                                        <select name="used_product">
                                                <option value="">None</option>
                                                {% for row in insalon_prods %}
                                                    <option value="{{row.id}}"> {{row.Prod_Name}}</option>
                                                {% endfor %}        
                                                
                                        </select>
                                        <button>+ add another product</button>
                                        
                                        
                                    </div>

                                    <div class="product-used-checkbox">
                                        <input type="checkbox" name="consumed_product">
                                    </div> 
                                </div> 
                                {% endcomment %}


                                <div class="primary-list-container">
                                    <div class="primary-list-label">
                                        <h6>STYLIST:</h6>
                                    </div>

                                    <div class="primary-list-input">
                                        {% comment %} get from database {% endcomment %}
                                        <select class="primary-list-input-form" name="stylist2" aria-label="Default select example" required>
                                            <option selected disabled hidden>Select Stylist</option>
                                            {% comment %} <option value="{{ stylists }}">{{ stylists }}</option>
                                            <option value="{{ stylist1 }}">{{ stylist1 }}</option>
                                            <option value="{{ stylist2 }}">{{ stylist2 }}</option>
                                            <option value="{{ stylists }}">{{ stylists }}</option> {% endcomment %}
                                            {% comment %} <option value="Oscar">Mr. Oscar</option>
                                            <option value="Steph">Ms. Steph</option>
                                            <option value="Mike">Mr. Mike</option> {% endcomment %}
                                            {% for stylist in stylists %}
                                                {% if stylist.gendertype.id == 1 %}
                                                    <option value="{{ stylist.staff.first_name }}" >Mr. {{ stylist.staff.first_name }}</option>
                                                {% elif stylist.gendertype.id == 2 %}
                                                    <option value="{{ stylist.staff.first_name }}" >Ms. {{ stylist.staff.first_name }}</option>
                                                {% else %}
                                                    <option value="{{ stylist.staff.first_name }}" >Mx. {{ stylist.staff.first_name }}</option>   
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    </div>                                     
                                </div>
                                    
                                    <div class="total-price-container">
                                        <div class="total-price-label">
                                            <h6>TOTAL PRICE: </h6>
                                        </div>   
                                        <div class="total-price-text">
                                            <input type="text" id="total" name="total" class="input-total-jof" readonly>
                                        </div>                              
                                    </div> 
                                              
                                    <div class="job-order-container">
                                            <input type="hidden" value="{{ appointment.id }}" name="approve">
                                            <input class="job-button-container-submit" type="submit" value="Confirm" confirm="Confirm" name="button" id="confirm">
                                    </div>
                               
                    </form>
                </div>
            </div>
        </div>
    <script>
        function findTotal(){
            var arr = document.getElementsByName('price');
            var tot=0;
            for(var i=0;i<arr.length;i++){
                if(parseFloat(arr[i].value))
                    tot += parseFloat(arr[i].value);
            }
            document.getElementById('total').value = tot;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="{% static '/js/appts.js' %}"></script>
</body>
</div>
</div>


{% endblock content %}