{% extends 'general/homepage-user.html' %}

{% block content %}

    <div class="main">

        <a href='{% url 'allservices' %}'>Go back to All Services</a>
        <h2>Service History</h2>
        <table width="100%">
            <thead>
                <th>Service Name</th>
                <th>Staff Name</th>
                <th>Customer Name</th>
                <th>Price</th>
                <th>Timestamp</th>
            </thead>
            <tbody>
                
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
