{% extends 'main_shop.html' %}

{% block content %}
<!-- SHOP INDIVIDUAL PRODUCTS PAGE -->
<!-- /base/templates/shop_indiv_product.html -->
<div class="main-wrapper">
    <div class="container">
        <!-- BREADCRUMB LINKS -->
        <div class="shop-links-container">
            <a class="shop-links" href="{% url 'shop' %}">Shop</a> / <a class="shop-links" href="{% url 'shop' %}?q={{product.Cat_Name}}">{{product.Cat_Name}}</a> / <a id="current-link" href="">{{product.Prod_Name}}</a>
        </div>

        <!-- GO BACK LINK -->
        <div class="go-back">
            <a href="{% url 'shop' %}"><i class="fa-solid fa-arrow-left"></i>Go back to shop</a>
        </div>

        <!-- IMG AND DETAILS CONTAINER -->
        <div class="shop-indiv-prod-container">
            <!-- IMAGE -->
            <div class="shop-img-container">
                {% if product.Prod_Image %}<img src="{{product.Prod_Image.url}}" class="shop-indiv-prod-img" />{% endif %}
            </div>

            <!-- PRODUCT DETAILS -->
            <div class="shop-indiv-prod-details">
                <!-- PRODUCT NAME -->
                <div class="details-prodname">
                    <h2>{{product.Prod_Name}}</h2>
                </div>

                <!-- PRICE -->
                <div class="details-price">
                    <label id="price">{{product.Prod_Price|floatformat:2}}</label>
                </div>
                
                <!-- DESCRIPTION -->
                <div class="details-desc">
                    <label>{{product.Prod_Desc}}</label>
                </div>
                
                <!-- STOCK QUANTITY -->
                <div class="details-stock">
                    <label>{{product.Prod_stockQty}}</label> <label>in stock</label>
                </div>
                <!-- STOCK QUANTITY BUTTON -->
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" min="1" max="{{product.Prod_stockQty}}" name="quantity" value="1" type="number">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>
                
                <!-- ADD TO CART -->
                <div class="details-add-to-cart">
                    <button data-product={{product.id}} data-action="add" class="btn btn-primary add-btn add-btn update-cart"> Add to Cart </button>
                </div>
            </div>
        </div>

        <!-- MORE DETAILS SECTION -->
        <div class="more-details-section">
            <!-- PRODUCT DETAILS -->
            <div class="prod-details">
                <label class="shop-sub-titles">Product Details</label>
                {% if product.Measurement_Num != NULL %}
                <label class="prod-indiv-details">Measurement:</label> {{product.Measurement_Num}} {{product.Measurement_Type}}<br>
                {% endif %}
                <label class="prod-indiv-details">Category:</label> {{product.Cat_Name}}<br>
                <label class="prod-indiv-details">Product Type:</label> {{product.ProdType_Name}}
            </div>
            <!-- REVIEWS -->
            <div class="reviews-container">
                <label class="shop-sub-titles" id="review-title">Reviews</label><br>
                    <!-- SHOW REVIEWS -->
                    <table class="review-table">
                        <tbody class="reviews-body">
                            {% for review in page_prod %}
                            <tr>
                                <!-- REVIEW -->
                                <td><label id="review-name">{{ review.customer }}</label><br>
                                    <label id="review-text">{{ review.review }}</label>
                                </td>
                                <!-- IF EMPTY -->
                                {% empty %}
                                <td id="no-reviews"><label>No reviews yet.</label></td>
                            </tr>
                            {% endfor %}
                        </tbody>    
                    </table>

                    <!-- PAGE NAVIGATION -->
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_prod.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_prod.previous_page_number }}">previous</a>
                            {% endif %}
                            
                            <!-- PAGE INDICATOR -->
                            <span class="current">
                                Page {{ page_prod.number }} of {{ page_prod.paginator.num_pages }}
                            </span>
                    
                            {% if page_prod.has_next %}
                                <a href="?page={{ page_prod.next_page_number }}">next</a>
                                <a href="?page={{ page_prod.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
            </div>
        </div>
        
        <!-- BROWSE OTHER PRODUCTS -->
        <div class="browse-other-prod">
            <span>Browse Other Products</span>
        </div>

        <div class="browse-grid">
            {% for product in browse %}
            <div class="indiv-browse-grid">
                <!-- IMAGE -->
                <div class="indiv-shop-images">
                    <a href="/shop/{{product.id}}">{% if product.Prod_Image %}<img src="{{product.Prod_Image.url}}" />{% endif %}</a>
                </div>
                
                <!-- PRODUCT NAME -->
                <div class="indiv-shop-prodname">
                    <a href="/shop/{{product.id}}">{{product.Prod_Name}}</a>    
                </div>
                
                <!-- PRICE -->
                <div class="indiv-shop-price">
                    <label id="price">{{product.Prod_Price|floatformat:2}} </label>    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

</div>


{% endblock content%}
