/* ELEMENTS */
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

/* TABLE HEADER */
thead.accounts-thead tr th {
    font-weight: 400;
    font-size: 16px;
}
thead.accounts-thead tr { 
    height: 50px;
    background: #FEE2C5;
    color: black;
}
table.accounts-thead th:first-child{
    border-radius: 15px 0 0 15px;
}
table.accounts-thead th:last-child{
    border-radius: 0 15px 15px 0;
}

/* TABLE HEADER for CUSTOMER NAME */
thead.customer-review-thead tr th {
    font-weight: 400;
    font-size: 14px;
}
thead.customer-review-thead tr { 
    height: 50px;
    background: #FEE2C5;
    color: black;
}
table.customer-review-thead th:first-child{
    border-radius: 15px 0 0 15px;
}
table.customer-review-thead th:last-child{
    border-radius: 0 15px 15px 0;
}


thead {
    
    height: 50px;
    text-align: center;
    border-radius: 20px 40px;
}


td{
    height: 80px;
    border-bottom: 1px solid rgb(187, 187, 187);
    font-size: 12px;
    text-align: center;
}

tr:hover, thead.accounts-thead tr:hover {
    background-color: rgb(236, 236, 236);
    transition: 0.3s;
}
/*
th:hover, thead td {
    background-color: skyblue !important;
    color: var(--navy);
}
*/

/* Table Div */
.tables{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

/* Table Title */
.tbl-title{
    margin-bottom: 33px;
    font-size: 28px;
    font-weight: 600;
}

/* Admin Accounts Table */
.admin-accounts-tbl{
    margin-bottom: 60px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Staff Accounts Table */
.staff-accounts-tbl{
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ADD BUTTON */
.addButton {
    background-color: #7FB5FF;
    color: white;
    width: 150px;
    border: 2px solid #7FB5FF;
    height: 35px;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    margin-left: auto;
}

/* ADD BUTTON */
.addButton:hover {
    background-color: white;
    color: #7FB5FF;
    transition: 0.2s;
}

/* title and button  side by side */
.title-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* table sort */
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE";
    color: #917d69;
    font-size: 20px;
    margin: 0;
}
.button-half{
height: 6vh;
   width: 65%;
   background-color:#001D6E;
   border:none;
   color: white;
   font-family: Montserrat;
   font-size: 17px;
   border-radius: 10px;
   font-weight: 500;
}

.buttons5{
    height: 6vh;
    width: 100%;
    background-color:#C4DDFF;
    border: none;
    color: #001D6E;
    font-family: Montserrat;
    font-size: 12px;
    border-radius: 10px; 
    font-weight: 700;
 }

 .buttons6{
    height: 6vh;
    width: 150px;
    background-color:#C4DDFF;
    border: none;
    color: #001D6E;
    font-family: Montserrat;
    font-size: 12px;
    border-radius: 10px; 
    font-weight: 700;
 }

 /* CSS for Client Feedback Table */
 p.th-left {
    margin-bottom: 0px;
 }
 
 .th-left {
    text-align: left !important;
 }

 td.customer-name {
    font-size: 12px;
    
 }

 td.customer-services {
    font-size: 12px;
    margin-left: 30px;
 }

#customer-review {
    /* text-align: left !important; */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
 }

#admin-reply {
    font-size: 12px;
    /* text-align: left !important; */
    margin-left: 10px;
    margin-bottom: 0px;
 }