@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

/* ROOT AND BODY  */
:root {
   --yellow: #FEE2C5;
   --purple: #1A1052;
   --navy:#001D6E;
   --blue: #7FB5FF;
   --lightblue: #C4DDFF;
}

*{
    padding: 0;
    margin: 0;
}


.content-container{
   width: 90%;
   margin: auto;
   margin-top: 50px;
   margin-left: 60px;
   height: 120vh;
   
}

.header-container{
    width: 100%;
    height: 10vh;
    padding-top: 10px;
    margin-bottom: 40px;
 }

 .header-container p{
    font-weight:600;
    font-size: 28px;
    font-family: Montserrat;
 }

 .top-container{
    width: 100%;
    height: 25vh;
    display: inline-flex;
    margin-left: 30px;
    
 }

 .image-container{
    width:20%;
    height:30vh;
    border-radius: 50%;
 }

 .name-container{
    width:80%;
    height:25vh;
    padding-left: 30px;
    padding-top: 30px;
 }

 .text-label{
    font-weight: 700;
    font-family: Montserrat;
    font-size: 22px;
 }

 .text-label1{
    font-weight: 500;
    font-family: Montserrat;
    margin-right: 100px;
    font-size: 16px;
 }

 .text-label2{
    font-weight: 500;
    font-family: Montserrat;
    font-size: 16px;
    margin-right: 40px;
    margin-left: 40px;
 }

 .text-label3{
    font-weight: 500;
    font-family: Montserrat;
    margin-right: 45px;
    font-size: 16px;
 }

 .text-label4{
    font-weight: 500;
    font-family: Montserrat;
    margin-right: 125px;
    font-size: 16px;
 }

 .text-label5{
    font-weight: 700;
    font-family: Montserrat;
    margin-right: 25px;
    font-size: 16px;
 }

 .form-box{
    border-radius: 10px;
    height: 5vh;
    padding-left: 10px;
    border: 1px solid #CCCCCC;
    outline: none;
 }
 
 .botton-container{
    width: 100%;
    height: 55vh;
    padding-top: 35px;
    margin-left: 30px;
 }

 .button1{
    background-color: #001D6E;
    color: white;
    width: 25%;
    border: 0;
    height: 6vh;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 450px;
 }


 .button1:hover{
    background-color: white;
    color: #001D6E;
    border: 1px solid #001D6E;
 }

 .button2{
    background-color: white;
    color:  #001D6E;
    width: 25%;
    border: 1px solid #001D6E;
    height: 6vh;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    outline:none;
 }

 .button2:hover{
    background-color: lightgray;
    color: #001D6E;
 }

 .button3{
    background-color: var(--blue);
    color: #001D6E;
    width: 25%;
    border: 0;
    height: 5vh;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
 }


 .button3:hover{
    background-color: white;
    color: var(--blue);
    border: 1px solid var(--blue);
 }