{% load static %}
{% include 'general/navbar-register.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SALONTHEGO | LOGIN</title>

    <link rel="stylesheet" href="{% static 'css/authentication/login.css' %}">
</head>
<body>
 
   

    <div class="login-form-container">
       
        <center><img src="/images/logo-3.png"></center>
        <center><h1>Account Login</h1></center>
        <center><p>If you already a member you can login with<br>your email address and password.</p></center>
        
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert">
                <strong>Message: </strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <div class="input-container">
            <form action="/login/" method="post">
                {% csrf_token %}

                <label class="form-label1">Username</label>
                <input class="form-box1" id="username" name="username" placehoder="username" Required>

                <label class="form-label1">Password</label>
                <input class="form-box1" type="password" id="password" name="password" placehoder="Password" Required>

                <a class="form-forgot-label" href="#">
                    Forgot Your Password?
                </a>

                <button class="btns" type="submit">LOGIN</button>
                <br><br>
                
            </form>

        

        </div>
    </div>

</body>
</html>

{% include 'general/footer.html' %}
